h1, h2, h3, h4, h5, h6 , a, .small {
    font-family: 'Josefin Slab', serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h1 small {
    font-size: 50%;
}

br {
    line-height: 25%;
}
h2 {
    font-size: 1.75em;
    font-weight: bolder;
    color: grey;
}

h3 {
    font-size: 1.5em;
}

.header_logo {
    font-size: 5.5em;
}